@media (max-width: 550px ){

.section-estudos{
    flex-flow: column wrap;
    height: 600px;
   
    
}

.container-estudos{
    flex-flow: column wrap;
    height: 600px;
   
}

.container-estudos .left-menu{
    width: 100%;
    flex: 1;
    background-image: url('./imagens/figuras/left-menu-estudos-responsivo.png');
}

.container-estudos .main-menu{
    width: 100%;
    justify-content: space-between;
}

.cursos-list{
    padding: 0;
    width: 100%;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
       
}

.cursos-list::-webkit-scrollbar {
        display: none;
      }
    

.cursos-list-itens{
    width: 100%;
    height: 80px;
    flex: 0 0 auto;
}


.cursos-list-itens::before{
    display: none;
}



.cursos-list-itens-huge{
    
   
    width: 300px;
    height: 200px;
    background-size: contain;
    list-style: none;
    z-index: 11;
    box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.75);
 
 
}













}