
@media (max-width: 733px ){


    @-ms-viewport{
        width: device-width;
      }

    body{
        right: 0;
        margin: 0 auto;
        overflow-x: hidden;
        overflow-y: auto;
        width: 100%; 
        min-width: 280px;
    }

  header .container{
      padding: 0;
  }  

    .header-nav{
        width: 100%;      
        flex: 2;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }     
   

    
.header-nav-links{
    text-align: center;
    width: 100%;
    background-image: linear-gradient(to right, rgba(250, 157, 11, 0), rgba(237, 81, 7, 1), rgba(250, 157, 11, 0));
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: bottom center;  
}

.header-nav-links::first-letter{
    border-left: none;
}



.header-nav-links:hover{
    color: #ED5107;
    text-decoration: unset;
   
}

.banner-title{
    
    background-position: center;
    min-width: 320px ;
}

.carousel-inner {
    height: 90px;
}

/* trabalhos------------------------------------------------------------------------- */



.section-trabalhos{
    background-color: rgba(0, 0, 0, 0.0);
}

.container-work{
    flex-flow: column wrap;
    height: auto;
    
}

.left-menu{
    width: 100%;
    min-height: 100px;
    background-size: contain;
    background-image: url('./imagens/banners/trabalhos-banner-responsivo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.4);
}


.main-menu{
   display: flex;
   flex-flow: column wrap;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.4);
   height: 1000px;
   
  
}

.main-menu-works{
    flex: 1;
    flex-flow: column wrap;
    width: 100%;
   
    
}

.main-menu-works:nth-of-type(2){
    flex: 2;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
}


.title{
    font-size: 1.5em;
}


#estagio-foto{
    order: -1;
    background-position: center;
    background-image: url('./imagens/figuras/estagio.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#estagio-description{
    justify-content: center;
    text-align: center;
}

#tcc-description-tag{
    min-height: 100px;
    min-width: 250px;
    flex: 1;
    order: -1;
    background-image: url('./imagens/figuras/tcc-banner-responsive.png');
}


#tcc-description{
    flex: 1;
    padding: 0!important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}
#tcc-description ul{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

#tcc-description ul li{
    text-align: center;
    padding: 0!important;
    
}

#tcc-description ul li:nth-of-type(1n+3){
    display: none;
}




.main-menu-works-video{
   flex-flow: column wrap; 
}

.main-menu-works-video video{
    margin: 0;
   
  
   min-height: 192px;
   min-width: 238px;
 
   max-width: 330px;
}



.conhecimentos{
   align-items: center;
   justify-content: space-between;
}

.conhecimentos ul li:nth-child(3n+1){
    padding-left: 10px;
}

.conhecimentos ul {
   flex-grow: 1;

} 



}


@media  (max-width:360px) {
    .main-menu-works:nth-of-type(1) {
        flex: 2;
        flex-flow: column wrap!important;
    }

    #estagio-foto{
        width: 100%;
        height: 30%;
    }
    #estagio-description{
        width: 100%;
    }
}

@media  (min-width:830px) {
.main-menu-works .title{
    transform: rotate(-45deg);
}

}